* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    max-width: 1920px;
    height: 100vh;
}

.container {

    margin: 40px;
    overflow: hidden;
    display: flex;
    background-color: #EBF0FA;
    border-radius: 10px;

}

.content {
    width: 930px;
    height: 455px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding: 40px;
    background-color: #EBF0FA;
}

.content h1 {
    font-size: 30px;
    font-weight: 500;
    line-height: 48px;
    color: #1F4284;
    margin-bottom: 20px;
}

.content p {
    max-width: 511px;
    font-size: 17px;
    color: #2c3e50;
    margin-bottom: 30px;
    line-height: 1.6;
}

.cta_button {
    width: 341px;
    height: 68px;
    background-color: #1e3a8a;
    color: white;
    border: none;
    padding: 12px 12px 12px 24px;
    font-weight: 500;
    font-size: 18px;
    line-height: 28.8px;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta_button:hover {
    background-color: #2a5298;
}

.cta_btn_arrow {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: white;
}

.image_container {
    flex: 1;
    max-width: 910px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
}