* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1920px;
    height: 100vh;
}

.container {
    width: 80%;
    max-width: 1200px;
    display: flex;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content {

    flex: 1;
    padding: 40px;
    background-color: #e0e7ff;
}

.content h1 {
    font-size: 36px;
    color: #2c3e50;
    margin-bottom: 20px;
}

.content p {
    font-size: 18px;
    color: #2c3e50;
    margin-bottom: 30px;
    line-height: 1.6;
}

.cta_button {
    display: inline-block;
    width: 341px;
    height: 68px;
    padding: 15px 30px;
    font-size: 18px;
    color: #ffffff;
    background-color: rgba(36, 76, 152, 1);
    border: none;
    border-radius: 60px;
    cursor: pointer;
    text-decoration: none;
}

.cta_button:hover {
    background-color: #1a242f;
}

.cta_btn_arrow {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: white;
}

.image_container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
}
